<dxc-input-text
  [prefix]="prefix"
  [suffix]="suffix"
  [prefixIconSrc]="prefixIconSrc"
  [suffixIconSrc]="suffixIconSrc"
  [theme]="theme"
  [disabled]="disabled"
  [required]="required"
  [invalid]="invalid"
  [label]="label"
  [assistiveText]="assistiveText"
  [name]="name"
  [value]="value"
  [placeholder]="placeholder"
  [margin]="margin"
  [size]="size"
  [autocompleteOptions]="updateSuggestions"
  (onChange)="onChanged($event)"
  (onClickPrefix)="onClickPrefixHandler($event)"
  (onClickSuffix)="onClickSuffixHandler($event)"
  (onBlur)="onBlurHandle($event)"
></dxc-input-text>
