<dxc-application-layout theme>
  <dxc-header [underlined]="true"></dxc-header>
  <dxc-application-layout-sidenav padding="medium">
    <div class="sidenavContent">
      <img src="../assets/img/angular.png" class="sidenav-logo" />
      <h1 class="sidenav-title">ngular</h1>
    </div>
    <div class="sidenavLinks">
      <div class="listItem">
        <a
        [skipLocationChange]="true"
        routerLink="components/autocomplete"
        >Autocomplete</a
      >
      </div>
      <div class="listItem">
        <a
        [skipLocationChange]="true"
        routerLink="components/haltable"
        >HalTable</a
      >
      </div>
    </div>
  </dxc-application-layout-sidenav>
  <dxc-application-layout-main>
    <div class="container-content">
      <div class="styled-container">
        <router-outlet #routerOutlet="outlet"></router-outlet>
      </div>
    </div>
  </dxc-application-layout-main>
  <dxc-footer
    [bottomLinks]="[
      { text: 'Twitter', href: 'http://www.google.com' },
      { text: 'Facebook', href: 'http://www.google.com' },
      { text: 'Instagram', href: 'http://www.google.com' }
    ]"
    [copyright]="'© DXC Technology 2019. All rights reserved.'"
  >
  </dxc-footer>
</dxc-application-layout>
